# macOS
.DS_Store
**/.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
*.tsbuildinfo

# Editor directories and files
.vscode/*
.idea
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/

# ESLint
.eslintcache
